.navbar {
    color: var(--text);

    .container {
        height: 70px;
        margin: 3px;
        border-radius: 10px;
        box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0px -2px 6px 0px rgba(10, 37, 64, 0.35);
        background-color: var(--bgSecondary);
        display: flex;

        .sectionOne {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;

            .logo {
                width: 60px;
                height: 60px;
                object-fit: cover;
                /* border-radius: 50%; */
                /* border: 3px solid rgb(255, 255, 255); */
            }
        }

        .sectionTwo {
            display: flex;
            justify-content: center;
            align-items: center;


            .sectionTwoMain {
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                .linkContainer{
                    width: 100px;

                    .link{
                        color: var(--text);
                        text-decoration: none;
                    }

                }
            }
        }
    }
}