.dropDown{
    width: 500px;
    height: 500px;
    background-color: brown;
    display: none;
    position: relative;
    top: 70px;
}
.button{
    width: 200px;
    height: 100px;
    background-color: bisque;

}
.button:hover .dropDown{
   display: block; 
}